# Import Libraries

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns

# Load the Dataset

In [4]:
# Load dataset
df = pd.read_csv("car data.csv")
print(df.head())

  Car_Name  Year  Selling_Price  Present_Price  Driven_kms Fuel_Type  \
0     ritz  2014           3.35           5.59       27000    Petrol
1      sx4  2013           4.75           9.54       43000    Diesel
2     ciaz  2017           7.25           9.85        6900    Petrol
3  wagon r  2011           2.85           4.15        5200    Petrol
4    swift  2014           4.60           6.87       42450    Diesel

  Selling_type Transmission  Owner
0       Dealer       Manual      0
1       Dealer       Manual      0
2       Dealer       Manual      0
3       Dealer       Manual      0
4       Dealer       Manual      0

# Explore and Clean the Data

In [16]:
# View dataset information and statistics
df.info()
df.describe()

# Check for missing values
df.isnull().sum()

# Drop rows with missing values if necessary
df.dropna(inplace=True)

# Check the data type of the 'Year' column
print(df['Year'].dtype)

# If it's not numeric, convert it to integer
df['Year'] = pd.to_numeric(df['Year'], errors='coerce')  # Coerce any non-numeric values to NaN

# Now, create the 'Car_Age' column
df['Car_Age'] = 2024 - df['Year']

# If there are NaN values after coercion, you can drop them
df.dropna(subset=['Car_Age'], inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Columns: 106 entries, Year to Transmission_Manual
dtypes: bool(101), object(5)
memory usage: 41.6+ KB
object

#  Feature Selection

In [21]:
# Define target variable (Selling Price)
X = df.drop(columns=['Selling_Price'])
y = df['Selling_Price']

# Train-Test Split

Empty DataFrame
Columns: [Year, Selling_Price, Present_Price, Driven_kms, Owner, Car_Name_Activa 3g, Car_Name_Activa 4g, Car_Name_Bajaj  ct 100, Car_Name_Bajaj Avenger 150, Car_Name_Bajaj Avenger 150 street, Car_Name_Bajaj Avenger 220, Car_Name_Bajaj Avenger 220 dtsi, Car_Name_Bajaj Avenger Street 220, Car_Name_Bajaj Discover 100, Car_Name_Bajaj Discover 125, Car_Name_Bajaj Dominar 400, Car_Name_Bajaj Pulsar  NS 200, Car_Name_Bajaj Pulsar 135 LS, Car_Name_Bajaj Pulsar 150, Car_Name_Bajaj Pulsar 220 F, Car_Name_Bajaj Pulsar NS 200, Car_Name_Bajaj Pulsar RS200, Car_Name_Hero  CBZ Xtreme, Car_Name_Hero  Ignitor Disc, Car_Name_Hero Extreme, Car_Name_Hero Glamour, Car_Name_Hero Honda CBZ extreme, Car_Name_Hero Honda Passion Pro, Car_Name_Hero Hunk, Car_Name_Hero Passion Pro, Car_Name_Hero Passion X pro, Car_Name_Hero Splender Plus, Car_Name_Hero Splender iSmart, Car_Name_Hero Super Splendor, Car_Name_Honda Activa 125, Car_Name_Honda Activa 4G, Car_Name_Honda CB Hornet 160R, Car_Name_Honda CB Shine, Car_Name_Honda CB Trigger, Car_Name_Honda CB Unicorn, Car_Name_Honda CB twister, Car_Name_Honda CBR 150, Car_Name_Honda Dream Yuga , Car_Name_Honda Karizma, Car_Name_Hyosung GT250R, Car_Name_KTM 390 Duke , Car_Name_KTM RC200, Car_Name_KTM RC390, Car_Name_Mahindra Mojo XT300, Car_Name_Royal Enfield Bullet 350, Car_Name_Royal Enfield Classic 350, Car_Name_Royal Enfield Classic 500, Car_Name_Royal Enfield Thunder 350, Car_Name_Royal Enfield Thunder 500, Car_Name_Suzuki Access 125, Car_Name_TVS Apache RTR 160, Car_Name_TVS Apache RTR 180, Car_Name_TVS Jupyter, Car_Name_TVS Sport , Car_Name_TVS Wego, Car_Name_UM Renegade Mojave, Car_Name_Yamaha FZ  v 2.0, Car_Name_Yamaha FZ 16, Car_Name_Yamaha FZ S , Car_Name_Yamaha FZ S V 2.0, Car_Name_Yamaha Fazer , Car_Name_alto 800, Car_Name_alto k10, Car_Name_amaze, Car_Name_baleno, Car_Name_brio, Car_Name_camry, Car_Name_ciaz, Car_Name_city, Car_Name_corolla, Car_Name_corolla altis, Car_Name_creta, Car_Name_dzire, Car_Name_elantra, Car_Name_eon, Car_Name_ertiga, Car_Name_etios cross, Car_Name_etios g, Car_Name_etios gd, Car_Name_etios liva, Car_Name_fortuner, Car_Name_grand i10, Car_Name_i10, Car_Name_i20, Car_Name_ignis, Car_Name_innova, Car_Name_jazz, Car_Name_land cruiser, Car_Name_omni, Car_Name_ritz, Car_Name_s cross, Car_Name_swift, Car_Name_sx4, Car_Name_verna, Car_Name_vitara brezza, ...]
Index: []

[0 rows x 107 columns]